<div class="container mg-bt--md">
  <h1 class="center">Person form</h1>
  <form
    class="form"
    [formGroup]="personForm"
    #formDir="ngForm"
    (ngSubmit)="onSubmit(personForm); formDir.resetForm()"
  >
    <div class="container">
      <label for="firstName">First name </label>
      <input
        id="firstName"
        type="text"
        class="form__input"
        formControlName="firstName"
      />
    </div>

    <div class="container">
      <label for="lastName">Last name </label>
      <input
        id="lastName"
        type="text"
        class="form__input"
        formControlName="lastName"
      />
    </div>

    <div class="container">
      <label for="email">E-mail</label>
      <input
        id="email"
        type="email"
        class="form__input"
        formControlName="email"
      />
      <div
        class="alert"
        [hidden]="
          personForm.get('email')!.valid || personForm.get('email')!.pristine
        "
      >
        <div *ngIf="personForm.get('email')!.errors?.['required']">
          E-mail is required.
        </div>
        <div *ngIf="personForm.get('email')!.errors?.['email']">
          E-mail format is not valid.
        </div>
        <div *ngIf="personForm.get('email')!.errors?.['emailTaken']">
          E-mail is already taken.
        </div>
      </div>
    </div>

    <button [disabled]="!formDir.form.valid" class="button" type="submit">
      Submit
    </button>
  </form>
</div>
